@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');


:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --semi-transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--very-light-gray);
    display: grid;
    place-content: center;
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
}

.cards {
    width: 770px;
    min-height: 420px;
    display: flex;
    border-radius: 10px;
}

.card:first-child {
    border-radius: 10px 0 0 10px;
}

.card:last-child {
    border-radius: 0 10px 10px 0;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 5px;
}

.card--bg-bright-orange {
    background-color: var(--bright-orange);
}

.card--bg-dark-cyan {
    background-color: var(--dark-cyan);
}

.card--bg-very-dark-cyan {
    background-color: var(--very-dark-cyan);
}

.card__icon{
    width: 50px;
}

.card__title{
    color: var(--very-light-gray);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2rem;
    margin-bottom: 5px;
}

.card__description{
    color: var(--semi-transparent-white);
    font-size: 0.8rem;
    font-family: 300;
    line-height: 20px;
}

.card__button{
    margin-top: 60px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--very-light-gray);
    font-weight: 900;
    cursor: pointer;
}

.card__button--sedans{
    color: var(--bright-orange);
}

.card__button--sedans:hover{
    color: var(--semi-transparent-white);
    background-color: var(--bright-orange);
    border: 1px solid var(--semi-transparent-white);
}

.card__button--suvs{
    color: var(--dark-cyan)
}

.card__button--suvs:hover{
    color: var(--semi-transparent-white);
    background-color: var(--dark-cyan);
    border: 1px solid var(--semi-transparent-white);
}

.card__button--luxury{
    color: var(--very-dark-cyan)
}

.card__button--luxury:hover{
    color: var(--semi-transparent-white);
    background-color: var(--very-dark-cyan);
    border: 1px solid var(--semi-transparent-white);
}

@media (max-width: 819px){
    .cards{
        width: 300px;
        flex-direction: column;
        margin: 10px 0px 10px 0px;
    }
    .card:first-child{
        border-radius: 10px 10px 0px 0px;
    }

    .card:last-child{
        border-radius: 0px 0px 10px 10px;
    }
}
